body {
  background: #004e98;
  margin: 5vh;
}

.game-title {
  color: #e9e9e9;
  text-align: center;
  font-size:50px;
  margin: 0px;
}
.game-wrapper {
  display: flex;
  height: calc(100vh - 10vh - 59px);
  justify-content: center;
  align-items: center;
  color: #e9e9e9;
  /* height: 70vh; */
  min-height: 500px;
}

.game-container {
  display: block;
  font-family: "Courier New", Courier, monospace;
}


table {
  border-collapse: collapse;
}

table td {
  height: 100px;
  width: 100px;
  border: solid;
  font-size: 50px;
  vertical-align: center;
  text-align: center;
}

table td:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

.user-feedback {
  width: 300px;
  text-align: center;
}

.player-turn-indicator {
  width: 300px;
  text-align: center;
}

.scores {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.button-container {
  width: 300px;
  display: flex;
  justify-content: center;
}

.reset-button {
  border-style: solid;
  border-width: 1.5px;
  border-color:#e9e9e9;
  border-radius: 20px;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
